* {
    box-sizing: border-box;
}
body {
    background: #92bde7;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;

}
h1 {
    text-align: center;
}
span {
    color:#fff;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    background: #f9feff;
}

.container > * {
    padding: 1em;
}

/* Form Styles */
.container form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap:20px;
}

.container form .full {
    grid-column: 1/3;
    grid-gap:20px;
}
/* .container fieldset {
    display: grid;
    grid-row: 3;
} */
/* input[type="file"] {
    display: grid;
    
} */
.container form input , .container form button,.container form textarea{
    width:100%;
    padding: 1em;
    border: 1px solid #c9e6ff;

}
.container form label {
    display: block;
}

.container form p {
    margin: 0;
}
.container form ::placeholder {

    font-size: 15px; 

}
.container form button {
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
    height: 100%;
}
.container form button:hover, .container form button:focus{
    background: #92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
    cursor:pointer;

}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    /* white-space: nowrap; */
    width: 1px;
  }
  
  [type="file"] + label {
    background-color: #c9e6ff;
    position: relative;
    color: black;
    /* border:0; */
    text-transform: uppercase;
    cursor: pointer;
    /* display: inline-block; */
    width: 100%;
    height:100%;
     padding: 10px; 
     /* align-items: center;  */
    text-align: center;
    
  }
  
  [type="file"]:focus + label,
  [type="file"]:hover + label {
      background-color: #92bde7;
      outline: 0;
       transition: background-color 2s ease-out; 
       color: #fff;
       cursor:pointer;
  }
  
  /* [type="file"]:focus + label {
    outline: 1px dotted #000;
  } */

/* .container form .inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 3px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */

/* .citycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.statecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
/* body {
    /* background-color: burlywood; */
    /* font-size: 20px;
}

.Post_form_container {
    
    border: 2px solid red;
    width: 50%;
    margin:auto;
    overflow: hidden;
    
}

 input[type=text] , input[type=email] {

    display: grid;
    grid-template-columns: 2px 2px 2px;
    
} 

label {
    display: inline-block;
    margin: 0.5%;
}

 fieldset {

    margin: 2%;

} 

fieldset input[type=text] {
    width:50%;
    display: -ms-flexbox;
}  */